@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'FontSpring-hvy';
        src: url(/public/assets/fonts/fontspring/Fontspring-DEMO-integralcf-heavy.otf);
    }

    @font-face {
        font-family: 'FontSpring-demi';
        src: url(/public/assets/fonts/fontspring/Fontspring-DEMO-integralcf-demibold.otf);
    }

    @font-face {
        font-family: 'Satoshi';
        src: url(/public/assets/fonts/satoshi/Satoshi-Regular.otf);
    }

    @font-face {
        font-family: 'Satoshi-bold';
        src: url(/public/assets/fonts/satoshi/Satoshi-Bold.otf);
    }
    
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    @font-face {
        font-family: 'FontSpring-bold';
        src: url(/public/assets/fonts/fontspring/Fontspring-DEMO-integralcf-bold.otf);
    }

    @font-face {
        font-family: 'FontSpring-extra-bold';
        src:url(../../public/assets/fonts/fontspring/Fontspring-DEMO-integralcf-demiboldoblique.otf);
    }


}