@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        
        --primary: 0 72.2% 50.6%;
        --primary-foreground: 0 85.7% 97.3%;
        
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        
        --border:0 0% 89.8%;
        --input:0 0% 89.8%;
        --ring:0 72.2% 50.6%;
        --radius: 0.5rem;
    }

    .dark {
        --background:0 0% 3.9%;
        --foreground:0 0% 98%;
    
        --card:0 0% 3.9%;
        --card-foreground:0 0% 98%;
    
        --popover:0 0% 3.9%;
        --popover-foreground:0 0% 98%;
    
        --primary:0 72.2% 50.6%;
        --primary-foreground:0 85.7% 97.3%;
    
        --secondary:0 0% 14.9%;
        --secondary-foreground:0 0% 98%;
    
        --muted:0 0% 14.9%;
        --muted-foreground:0 0% 63.9%;
    
        --accent:0 0% 14.9%;
        --accent-foreground:0 0% 98%;
    
        --destructive:0 62.8% 30.6%;
        --destructive-foreground:0 0% 98%;
    
        --border:0 0% 14.9%;
        --input:0 0% 14.9%;
        --ring:0 72.2% 50.6%;
    }

  @font-face {
    font-family: "FontSpring-hvy";
    src: url(/storage/app/public/assets/fonts/fontspring/Fontspring-DEMO-integralcf-heavy.otf);
    }

    @font-face {
        font-family: "FontSpring-demi";
        src: url(/storage/app/public/assets/fonts/fontspring/Fontspring-DEMO-integralcf-demibold.otf);
    }

    @font-face {
        font-family: "FontSpring-bold";
        src: url(/storage/app/public/assets/fonts/fontspring/Fontspring-DEMO-integralcf-bold.otf);
    }

    @font-face {
        font-family: "FontSpring-extra-bold";
        src: url(/storage/app/public/assets/fonts/fontspring/Fontspring-DEMO-integralcf-demiboldoblique.otf);
    }

    @font-face {
        font-family: "Satoshi";
        src: url(/storage/app/public/assets/fonts/satoshi/Satoshi-Regular.otf);
    }

    @font-face {
        font-family: "Satoshi-bold";
        src: url(/storage/app/public/assets/fonts/satoshi/Satoshi-Bold.otf);
    }

    @font-face {
        font-family: 'FontSpring-bold-oblique';
        src:url(/storage/app/public/assets/fonts/fontspring/Fontspring-DEMO-integralcf-boldoblique.otf);
    }

    :root {
        --primary-color-rgb: 238, 100, 15; /* Your primary color in RGB format */
    }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .background {
        background-image: url(/storage/app/public/imgs/wmsu_pic.jpg);
        background-position: center;
        background-size: cover;
        /* backdrop-filter: blur(100px); */
        background-repeat: no-repeat;
        object-fit: cover;
        height: 100%;
    }

    /* for background blur */
    .background::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px); /*apply the blur effect*/
        pointer-events: none; /* make the */
    }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-pulse {
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  @keyframes pulse {
      0%, 100% {
          opacity: 1;
      }
      50% {
          opacity: .7;
      }
  }
}